<app-menu></app-menu>

<div class="">
    <div style="width: 45%;" class="card text-center center shadow-sm p-3 mb-5 bg-body rounded">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" routerLink="/login">Inicio de sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/registro">Registro</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="mb-4">
                <h3>Registro</h3>
            </div>
            <div class="mb-4">
                <a>A continuacion ingrese sus datos sin dejar campos vacios para registrarse en subastasYa</a>
            </div>
            <div class="container-fluid">
                <form #f="ngForm" (ngSubmit)="onRegister()">
                    <div class="row row-cols-2">
                        <div class="form-group  col ">
                            <label for="nombres">Nombre(s)</label>
                            <input type="text" name="nombres" id="nombres" class="selectBox form-control" autocomplete="off" [(ngModel)]="nombres" required>
                        </div>
                        <div class="form-group  col">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" name="apellidos" id="apellidos" class="selectBox form-control" autocomplete="off" [(ngModel)]="apellidos" required>
                        </div>
                        <div class="align-items-center form-group  col">
                            <label for="tipoDocumento">Tipo de Documento</label>
                            <select class="selectBox form-select border border-opacity-90 rounded" name="tipoDocumento" [(ngModel)]="selectedDocType" (ngModelChange)="onSelectDocType($event)">
                                <option *ngFor='let docType of docTypes' [value]="docType">{{docType}}</option>
                            </select>
                        </div>
                        <div class="form-group  col">
                            <label for="numeroDocumento">No. Documento</label>
                            <input type="text" name="numeroDocumento" id="numeroDocumento" class="selectBox form-control" autocomplete="off" [(ngModel)]="numeroDocumento" required>
                        </div>
                        <div class="form-group  col">
                            <label for="fechaNacimiento">Fecha de nacimiento</label>
                            <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="selectBox form-control" [(ngModel)]="fechaNacimiento">
                        </div>
                        <div class="form-group  col">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" class="selectBox form-control" autocomplete="off" [(ngModel)]="email" required>
                        </div>
                        <div class="form-group  col">
                            <label for="nombreUsuario">Nombre de Usuario</label>
                            <input type="text" name="nombreUsuario" id="nombreUsuario" class="selectBox form-control" autocomplete="off" [(ngModel)]="nombreUsuario" required>
                        </div>
                        <div class="form-group  col">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" id="password" class="selectBox form-control" autocomplete="off" [(ngModel)]="password" required>
                        </div>
                        <div class="form-group  col">
                            <label for="departamento">Departamento</label>
                            <select class="selectBox form-select border border-opacity-90 rounded" name="departamento" [(ngModel)]="selectedDepartment" (ngModelChange)="onSelectDepartment($event)">
                                <option *ngFor='let department of departments' [value]="department">{{department}}</option>
                            </select>
                        </div>
                        <div class="form-group  col">
                            <label for="direccion">Direccion</label>
                            <input type="text" name="direccion" id="direccion" class="selectBox form-control" autocomplete="off" [(ngModel)]="direccion" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="botonDinamico btn btn-outline-success btn-block" [disabled]="!f.valid">
                            <i class="fas fa-sign-in-alt"></i> Crear Cuenta
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>