<app-menu></app-menu>

<div class="col">
    <div class="card h-100 cardProfile">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img src="assets/images/user.png" class="profilePicture card-img-top" alt="...">
                </div>
                <div class="col">
                    <h5 class="card-title">Nombre:</h5>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>