<nav class="navB backG navbar navbar-expand-lg navbar-dark mb-4">
    <a class="navbar-brand" href="#">SubastasYa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="txNav collapse navbar-collapse" id="navbarNav">
        <ul class="txNav navbar-nav ml-auto">
            <li class="ido nav-item">
                <a class="txNav nav-link" routerLink="/">
                    <i class="txNav fas fa-home"></i> Inicio
                </a>
            </li>
            <li class="ido nav-item">
                <a class="txNav nav-link" *ngIf="isLogged" routerLink="/config">
                    <i class="txNav fas fa-list-alt"></i> Configuracion
                </a>
            </li>
            <li class="ido nav-item">
                <a class="txNav nav-link" *ngIf="isLogged" routerLink="/category/list">
                    <i class="txNav fas fa-list-alt"></i> Categorias
                </a>
            </li>
            <li class="ido nav-item" *ngIf="isLogged">
                <a class="txNav nav-link" routerLink="/lista">
                    <i class="txNav far fa-list-alt"></i> Anuncios
                </a>
            </li>
            <li class="ido nav-item" *ngIf="isLogged">
                <a class="txNav nav-link" routerLink="/users/list">
                    <i class="txNav far fa-list-alt"></i> Usuarios
                </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="txNav nav-link" routerLink="/login">
                    <i class="txNav fas fa-sign-in-alt"></i> Iniciar Sesión
                </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="txNav nav-link" routerLink="/registro">
                    <i class="txNav fas fa-sign-in-alt"></i> Registrarse
                </a>
            </li>
            <div class="ido" *ngIf="isLogged">
                <div class="btn-group dropstart">
                    <button type="button" class="txNav btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      {{nombreUsuario}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" routerLink="/user/edit">Mi Perfil</a></li>
                        <li class="menuTxt" *ngIf="isLogged" (click)="onLogOut()"><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>
            <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
                <a class="txNav nav-link" style="cursor: pointer;">
                    <div class="profilePicture">
                    </div>
                </a>
            </li>


        </ul>
    </div>
</nav>