<app-menu></app-menu>

<div class="mt-5">
    <div class="backButton mb-3">
        <button type="button" class="btn btn-outline-primary" routerLink="/lista">
            <i class=" ">Volver</i>
        </button>
    </div>
    <div class="tarjeta">
        <div class="card mb-6 anouncementCards float-md-start shadow p-3 mb-5 bg-body rounded ">
            <div class="row ">
                <div class="col ">
                    <img src="assets/images/product.png " class="pictureP img-fluid rounded-start " alt="... ">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body ">
                        <div class="mb-4 ">
                            <button type="button " class="estadoP btn btn-outline-success " id="botonEstado">{{anuncio.estado.nombre}}</button>
                        </div>

                        <h5 class="card-title ">Valor: {{anuncio.valor}}</h5>
                        <p class="card-text ">Producto {{anuncio.producto.nombre}}</p>
                        <p class="card-text ">Descripcion: {{anuncio.descripcion}}</p>
                        <p class="card-text ">Fecha de inicio: {{anuncio.fecha_inicio}} </p>
                        <p class="card-text ">Fecha de Fin: {{anuncio.fecha_fin}}</p>
                        <div class="row mb-3 ">
                            <div class="col mb-3 ">
                                <p class="card-text ">Anunciante: {{anuncio.usuario.nombre}}</p>
                            </div>
                        </div>
                        <button type="button " class="btn btn-outline-info ">Ver Ofertas</button>
                    </div>

                    <div class="mb-4" align="center">
                        <button (click)="cambiarEstadoActivo()" type="button" class="estadoP btn btn-outline-danger mr-3">ACTIVAR</button>
                        <button (click)="cambiarEstadoInactivo()" type="button" class="estadoP btn btn-outline-danger mr-3">DESACTIVAR</button>
                        <button (click)="cambiarEstadoBloqueado()" type="button" class="estadoP btn btn-outline-danger mr-3">BLOQUEAR</button>
                        <button (click)="cambiarEstadoVendido()" type="button" class="estadoP btn btn-outline-danger mr-3">VENDIDO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>