<app-menu></app-menu>
<div class="xd">
    <div class="backButton mb-3">
        <button type="button" class="btn btn-outline-primary" routerLink="/">
          <i class=" ">Volver</i>
      </button>
    </div>
    <div class="containerConfig card shadow rounded mb-5">
        <div class="cardHeader card-header ">
            <div>
                <a class="headerConfig">Gestion de anuncios</a>
            </div>
            <div class="bodyConfig">
                <a>A continuacion puede gestionar la información de los anuncios publicados en SubastasYa</a>
            </div>
        </div>
        <div class="containerParams card-body ">
            <!--tabla aqui-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        Lista de anuncios
                        <div class="filterText">
                            Buscar:
                        </div>
                        <div class="filterHeader">
                            <input type="text" class="" placeholder="Buscar">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let anuncio of anuncios" class="prueba card float-right shadow p-3 mb-3 bg-body rounded">
                        <div class="row">
                            <div class="col-2">
                                <img class="d-block" src="https://picsum.photos/150?image=641" alt="">
                            </div>
                            <div class="col justify-content-center anouncementTxt">
                                <div class="row">
                                    <div class="col">
                                        <a>{{anuncio.producto.nombre}}<br></a>
                                        <a>{{anuncio.valor}}<br></a>
                                        <a>{{anuncio.usuario.nombre}}</a>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <a></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a>13 de mayo de 1027</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row ">
                                            <div class="col-6 ">
                                                <button type="button" class="btn btn-outline-primary" routerLink="/">
                                                    <i class=" ">Ver</i>
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-outline-danger" routerLink="/">
                                                    <i class=" ">Bloquear</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>