<app-menu></app-menu>
<div class="containerConfig  card">
    <div class="card-header">
        Configuracion de la pagina
    </div>
    <div class="containerParams card-body">
        <!--CUERPO DE LA TARJETA(PARAMETROS AQUI)-->
        <div class="fixMargin container">
            <div class="row">
                <div class="col border">
                    <div class="row">
                        <div class="col">
                            Edad minima de registro
                        </div>
                        <div class="col">
                            campo de texto
                        </div>
                    </div>
                </div>
                <div class="col-6 border">
                    Duracion de los anuncios
                </div>
                <div class="col border">
                    Cantidad maxima de ofertas por usuario
                </div>
            </div>
        </div>
    </div>
</div>