<app-menu></app-menu>
<div class="backButton mb-3">
    <button type="button" class="btn btn-outline-secondary" routerLink="/">
        <i class=" ">Volver</i>
    </button>
</div>
<div class="containerConfig card shadow rounded mb-5">
    <div class="cardHeader card-header ">
        <div>
            <a class="headerConfig">Configuracion de la pagina</a>
        </div>
        <div class="bodyConfig">
            <a>A continuacion puede modificar las configuraciones globales de subastasYa</a>
        </div>
    </div>
    <div class="containerParams card-body ">
        <!--CUERPO DE LA TARJETA(PARAMETROS AQUI)-->
        <div class="fixMargin container ">
            <div class="row ">
                <div class="col m ">
                    <div class="row ">
                        <div class="col ">
                            Edad minima de registro:
                        </div>
                        <div class="col ">
                            <div class="input-group flex-nowrap ">
                                <input type="number " class="form-control " placeholder="18 " aria-label="Username " aria-describedby="addon-wrapping ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m border-left border-right border-info border-opacity-30 ">
                    <div class="row ">
                        <div class="col ">
                            Duracion limite de anuncios:
                        </div>
                        <div class="col ">
                            <div class="input-group flex-nowrap ">
                                <input type="text " class="form-control " placeholder="1 " aria-label="Username " aria-describedby="addon-wrapping ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m ">
                    <div class="row ">
                        <div class="col ">
                            Cantidad maxima de ofertas:
                        </div>
                        <div class="col ">
                            <div class="input-group flex-nowrap ">
                                <input type="text " class="form-control " placeholder="3 " aria-label="Username " aria-describedby="addon-wrapping ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerBtn mt-4 ">
            <!--botones confirmar y descartar-->
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="botonRight col-3 ">
                        <button type="button " class="btn btn-outline-success ">Confirmar</button>
                    </div>
                    <div class="col-3 ">
                        <button type="button " class="btn btn-outline-danger ">Descartar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="containerConfig card shadow rounded">
    <div class="cardHeader card-header ">
        <div>
            <a class="headerConfig">Gestion de categorias</a>
        </div>
        <div class="bodyConfig">
            <a>A continuacion puede gestionar la categoria de productos que se encuentran disponibles en SubastasYa</a>
        </div>
    </div>
    <div class="containerParams card-body ">
        <!--CUERPO DE LA TARJETA(PARAMETROS AQUI)-->
        <div class="maestro border mb-3">
            <div class="row">
                <div class="col headerCat">
                    Crear nueva categoria
                </div>
            </div>
            <div class="container containerMaestro">
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">Nombre:</span>
                            <input type="text" class="inputX">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">Descripción:</span>
                            <input type="text" class="inputY">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detalle card border">

        </div>
    </div>
</div>