.containerConfig {
    margin-left: 70px;
    margin-right: 70px;
}

.containerParams {}

.fixMargin {}

.containerBtn {
    display: flex;
    justify-content: center;
}

.botonRight {
    display: flex;
    justify-content: right;
}

.backButton {
    margin-left: 70px;
}